.profileInformationItem {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding-right: 10px;
  padding-left: 10px;
  color: #212529;
  list-style-type: none;
  border-bottom: 2px solid rgb(0 0 0 / 20%);
}

.profileInformationItemChange {
  color: #212529;
  opacity: 0.5;
}
