main
  .mainAuth
    .authorizationBlock
      .authorizationBlockTitle
        h1 Авторизация

      .inputArea
        | !{inputAreaBlock} 
        div
          | !{errorForm}
        
      .buttomBlock
        | !{button} 
