main
  .error500Block
    .error500BlockTitle
      h1 !{title}

    .error500BlockText
      p Наш сервер временно сломан. Мы уже активно устроняем проблему. Скоро всё заработает! Приносим наши извинения(
    .buttomBlock
      | !{button}
