body {
  background-color: azure;

  .error500Block {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding-top: 40px;
    width: 500px;
    height: 500px;
    text-align: center;
    position: absolute;

    h1 {
      font-size: 50px;
    }

    p {
      font-size: 20px;
    }

    .buttomBlock {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
