main
  .changingUserInformationBlock
    .changingUserInformationBlockAvatar
      img(src="../../../static/img/avatar.jpg" alt="avatar")

    .changingUserInformationBlockTitle
      h1 !{title}

    .inputArea
      | !{inputArea}

    .buttomBlock
      | !{button}
