main
  .mainChangingUserInformation
    .changingUserInformationBlock
      .changingUserInformationBlockAvatar
        img(src=img alt="avatar")

      .changingUserInformationBlockTitle
        h1 Выши данные

      .inputArea
        | !{inputAreaBlock}
        div
          | !{errorForm}
      .buttomBlock
        | !{button}
