main
  .mainProfile
    .profileInformationBlock
      .profileInformationBlockAvatar
        img(src=img alt="avatar")
        form(id='myUserForm') Картинка:
          br
          input(id="avatar" type="file" name="avatar" accept="image/*")
          | !{buttonSendFile}
          

      .profileInformationBlockTitle
        h1 Ваш профиль

      .inputArea
        | !{profileInformationItem}
        
      .buttomBlock
        | !{button}
