main
  .profileInformationBlock
    .profileInformationBlockAvatar
      img(src="../../../static/img/avatar.jpg" alt="avatar")

    .profileInformationBlockTitle
      h1 Павел

    .inputArea
      | !{profileInformationItem}
      
    .buttomBlock
      | !{button}
