main
  .profileInformationBlock
    .profileInformationBlockAvatar
      img(src=img alt="avatar")

    .profileInformationBlockTitle
      h1 Павел

    .inputArea
      | !{profileInformationItem}
      
    .buttomBlock
      | !{button}
