main
  .chatWindow
    .dialogsBlockHeader
      | !{buttonBlockProfile}

    .messagesBlockHeader Header messages

    .dialogsBlockItems Dialogs

    .messagesBlockWindowChat
      | !{buttonBlockMenu}
