$backgroundColorChatWindow: #c9c7c7;
$backgroundColorDialogItem: #afd8ff;
$backgroundColorMessage1: #afd8ff;
$backgroundColorMessage2: #ddf589;
$backgroundHeader: #80bef8;
$borderColor: black;
$textColorMessage: black;
$backgroundMessagesBlockWindowChat: #f1cdcd;

body {
  
  .chatWindow {
    display: grid;
    height: 100vh;
    
    grid-template-rows: 100px 1fr;
    grid-template-columns: 400px 1fr;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-areas: "b c""d e";
    background-color: $backgroundColorChatWindow;

    .dialogsBlockHeader {
      display: grid;
      padding-right: 10px;
      padding-left: 5px;
      grid-template-rows: 60px 25px;
      gap: 5px;
      align-items: center;
      border: 1px solid $borderColor;
      justify-content: space-evenly;
      background-color: $backgroundHeader;

      .dialogsBlockHeaderSearch {
        display: grid;
        grid-template-columns: 4fr 6fr;
        gap: 15px;
        align-items: center;
      }

      .dialogsBlockHeaderSettings {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        align-items: center;
      }
    }

    .dialogsBlockItems {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      background-color: $backgroundColorDialogItem;
      border-right: 1px solid $borderColor;
    }

    .messagesBlockHeader {
      display: grid;
      grid-template-columns: 400px 200px;
      gap: 10px;
      border: 1px solid $borderColor;
      border-left: none;
      justify-content: space-between;
      background-color: $backgroundHeader;

      .namechat {
        display: flex;
        gap: 10px;
        margin-left: 10px;
        align-self: center;
      }

      .settings {
        display: flex;
        align-self: center;
      }
    }

    .messagesBlockWindowChat {
      display: grid;
      padding-bottom: 25px;
      align-content: end;
      justify-content: center;
      background-color: $backgroundMessagesBlockWindowChat;

      .blockMessageItem {
        display: grid;

        .message1 {
          display: grid;
          gap: 5px;
          justify-self: end;
          margin-top: 10px;
          margin-bottom: 10px;
          border: none;
          border-radius: 10px;
          background-color: $backgroundColorMessage1;
          padding: 15px;
          color: $textColorMessage;
          font-size: 20px;
          line-height: 0.5;
          text-decoration: none;
        }

        .message2 {
          display: grid;
          gap: 5px;
          justify-self: start;
          margin-top: 10px;
          margin-bottom: 10px;
          border: none;
          border-radius: 10px;
          background-color: $backgroundColorMessage2;
          padding: 15px;
          color: $textColorMessage;
          font-size: 20px;
          line-height: 0.5;
          text-decoration: none;
        }
      }

      .blockMessageChat {
        display: grid;
        grid-template-columns: 10fr 3fr;
        gap: 10px;
        align-items: center;
        width: 1000px;
      }
    }
  }
}