body {

  .mainRegistration{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    height: 100vh;
    width: 1fr;
    
    .registrationBlock {
      margin: 0;
      padding-top: 5px;
      padding-bottom: 30px;
      padding-right: 10px;
      padding-left: 10px;
      background-color: #afd8ff;
      border-radius: 20px;

      .registrationBlockTitle h1 {
        font-weight: bold;
        font-size: 2.25rem;
        text-align: center;
      }

      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      .inputArea {
        margin-bottom: 1rem;
        padding: 10px 30px;
        width: 100%;
      }

      .buttomBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }  
}
