main
  .mainRegistration
    .registrationBlock
      .registrationBlockTitle
        h1 Регистрация
        .inputArea 
          | !{inputAreaBlock}
          div
            | !{errorForm}
        .buttomBlock
          | !{button}