body {
  background-color: azure;

  .registrationBlock {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 20px;
    background-color: #afd8ff;
    width: 400px;
    height: 800px;

    .registrationBlockTitle h1 {
      font-weight: bold;
      font-size: 2.25rem;
      text-align: center;
    }

    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    .inputArea {
      margin-bottom: 1rem;
      padding: 10px 30px;
      width: 100%;
    }

    .buttomBlock {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
