.componentDialogItemImage
    img(src=img alt="avatar")
.componentDialogItemnameDialog= NameDialog
.componentDialogItemLostMessage=  message
.componentDialogItemTime= time
.componentDialogItemCounterMessages= counterMessage