main
  .error404Block
    .error404BlockTitle
      h1 Ошибка 404

    .error404BlockText
      p Кажется что-то пошло не так! Страница, которую Вы запрашиваете, не существует. Возможно она устарела, была удалена, или был введён не верный адрес в адресной строке.
    .buttomBlock
      | !{button}
