main
  .mainChangingPassword
    .changingPasswordBlock
      .changingPasswordBlockAvatar 
        img(src=img alt="avatar")

      .changingPasswordBlockTitle
        h1 Смена пароля

      .inputArea
        | !{inputAreaBlock}
        div
          | !{errorForm}

      .buttomBlock
        | !{button} 

