body {

  .mainChangingPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    height: 100vh;
    width: 1fr;

    .changingPasswordBlock {
      margin: 0;
      padding-top: 15px;
      padding-bottom: 20px;
      padding-right: 10px;
      padding-left: 10px;
      background-color: #afd8ff;
      border-radius: 20px;

      .changingPasswordBlockAvatar {
        display: block;
        text-align: center;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }
      }

      .changingPasswordBlockTitle h1 {
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 2.25rem;
        text-align: center;
      }

      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      .inputArea {
        width: 100%;
        margin-bottom: 1rem;
        padding: 10px 30px;
      }

      .buttomBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}