main
  .changingPasswordBlock
    .changingPasswordBlockAvatar 
      img(src=img alt="avatar")

    .changingPasswordBlockTitle
      h1 !{title}

    .inputArea
      | !{inputAreaBlock}

    .buttomBlock
      | !{button} 

